:root {
    --bg: #020814;
    --surface: #11131d;
    --surface-2: #101217;

    --primary: #4581e1;
    --primary-hover: #5594f9;

    --text: #eeeeef;
    --muted: #9aa0a6;

    --border: #5a5a5a5b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
}

hr {
    margin: 20px;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 260px;
    padding: 16px;
    color: var(--text);
    border-right: 1px solid rgba(255, 255, 255, 0.06);
    background: linear-gradient(200deg,
            var(--surface-2),
            var(--bg));
}

.sidebar h2 {
    margin-left: 20%;
}

.sidebar p {
    margin-top: auto;
    font-size: 1.0rem;
    color: var(--muted);
    padding: 8px 6px;
}


nav {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border-radius: 16px;
    padding: 20px;
}

.menu-item {
    width: 100%;
    padding: 12px 8px;
    text-decoration: none;
    text-align: left;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    color: var(--text);
    display: flex;
    align-items: center;
    transition: 180ms ease;
}

.menu-item:hover {
    color: var(--primary);
    margin-left: 5px;
    background-color: var(--surface);
}

.menu-item span {
    color: var(--primary-hover);
}

.main-container {
    width: 100%;
    margin: 20px;
}

.description {
    text-align: center;
}

#clients-list {
    background-color: var(--surface);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.client-card {
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 900px;
    margin: 0px auto 10px auto;
    border: 1px solid rgba(255, 254, 254, 0.223);
}

.button {
    background-color: var(--primary);
    color: var(--text);
    font-size: 1.3rem;
    margin: 25px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.button:hover {
    background-color: var(--primary-hover);
}

.register-book {
    color: var(--text);
    font-size: 1.3rem;
    border-radius: 15px;
    padding: 20px;
}

.register-book h2 {
    text-align: center;
}

.form-book {
    display: flex;
    flex-direction: column;
    font-size: 1.0rem;
}

.form-book input {
    background-color: var(--surface);
    color: var(--text);
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 16px;
    border: 1px solid var(--color-border);
}

.form-book select {
    background-color: var(--surface);
    color: var(--text);
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 16px;
    border: 1px solid var(--color-border);
}

.select-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--border);
    border-radius: 16px;
}

.select-item span {
    font-size: 1.7rem;
    text-align: center;
}

.select-item select {
    background-color: var(--surface-2);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 17px;
    font-size: 1.7rem;
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    cursor: pointer;
}

.select-item button {
    background-color: var(--primary);
    color: var(--text);
    width: 50%;
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 16px;
    font-size: 1.5rem;
}

.section-register {
    background-color: var(--surface);
    border: 1px solid var(--border);
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 20px;
    box-shadow: var(--surface-2);
}

.section-register form,
.complement {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
}

.complement {
    margin: 15px 0;
}

.section-register input,
.complement input, select {
    background-color: var(--surface-2);
    color: var(--text);
    font-size: 1.2rem;
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 10px;
}

.section-register button {
    background-color: var(--primary);
    color: var(--text);
    font-size: 1.5rem;
    width: 50%;
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 16px;
}

.button-form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

label {
    margin-left: 10px;
}

@media (max-width: 768px) {

    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        padding: 10px 20px;
        border-right: none;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
        z-index: 1000;
    }

    nav {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 30px;
    }

    .menu-item {
        font-size: 1.0rem;
        width: auto;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .sidebar h2,
    .sidebar p {
        display: none;
    }

    .client-card {
        min-width: 200px;
    }
}

/*Deixe isso sempre por ultimo Edimar... é serio.*/
.hidden {
    display: none;
}