:root {
    --bg: #020814;
    --surface: #11131d;
    --surface-2: #101217;

    --primary: #4581e1;
    --primary-hover: #5594f9;

    --text: #eeeeef;
    --muted: #9aa0a6;

    --border: #5a5a5a98;
}

.register-loan {
    background-color: var(--surface);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 16px;
}

.form-loan {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

label {
    margin-top: 15px;
}

input,
select {
    background-color: var(--surface-2);
    color: var(--text);
    font-size: 1.2rem;
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%
}

.button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-submit button {
    background-color: var(--primary);
    color: var(--text);
    font-size: 1.5rem;
    width: 50%;
    margin: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 16px;
}

.section-loan {
    width: 100%;
    margin-bottom: 100px;
}

.loan-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--border);
}

.item-loan {
    background-color: var(--surface);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image img {
    border-radius: 999px;
    width: 100px;
    height: 100px;
    border: 1px solid var(--border);
    object-fit: cover;
    padding: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 100%;
}

.client {
    font-size: 1.3rem;
    color: var(--muted);
}

.status {
    background-color: rgb(62, 49, 145);
    font-size: 1.0rem;
    max-width: 110px;
    border-radius: 5px;
    padding: 0 5px;
}

.dates {
    display: flex;
    flex-direction: column;
    color: var(--muted);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttons button {
    background-color: var(--surface-2);
    color: var(--muted);
    margin: auto;
    padding: 10px 10px 6px 10px;
    border: 1px solid var(--border);
    border-radius: 999px;
    font-size: 1.5rem;
}